# Start by ignoring everything then allowing by case
*


# GitHub settings
!.gitignore
!.gitattributes

# check contents of folders
!*/

# Documentation 
!README.md
!CONTRIBUTING.md
!LICENSE*

# R
!/**/*.R
!/**/*.Rmd
!/**/*.Rproj
# but keep ignoring user .Rproj files
.Rproj.user
